body{
	background-color: lightcoral;
}
p{
	font-size: 50px;
}
.p2{font-family: sans-serif;
}
.P3{15	font-family: Georgia, Times, "Times New Roman", seri
16	font-weight: 700;
}
.p4{
font-family:Verdana, Arial,	Helvetica, sans-serif;	}
.P5{
	font-family:	cursive;
	}
.P6{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.P7{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


